<footer class="footer">
  <div class="video-bg">
    <video src="assets/videos/footer-bg.mp4" muted loop autoplay playsinline></video>
  </div>
  <div class="footer-quote wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-lg-8"><img src="assets/images/logo.png" alt="Image">
          <h2>Prolog Insights Zillion Market Private Limited (PRIZM)</h2>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-quote -->
  <div class="footer-contact wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Canada </h5>
          <address>
            6525 Chemin de la Cote Saint Luc, #505, Cote Saint Luc, Quebec, H4V 1G5 CA
          </address>

        </div>
        <!-- end col-4 -->
        <div class="col-md-3">
          <h5>USA </h5>
          <address>7550 S Blackhawk St, Englewood, Denver, Colorado, 80112</address>
        </div>
        <!-- end col-4 -->
        <div class="col-md-3">
          <h5>India </h5>
          <address>404 GH06 SEC-20, HARYANA, Panchkula, Haryana, India, 134116</address>
        </div>
        <!-- end col-4 -->
        <div class="col-md-3">
          <address>
            <a href="#">sales&#64;prizmdata.com</a><br>
            India | USA | Canada
          </address>
        </div>
        <!-- end col-2 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-contact -->
  <div class="footer-bottom wow fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5">
          <h5>Ouick Links </h5>
          <ul>
            <li><a [routerLink]="['/services']">Services</a></li>
            <li><a [routerLink]="['/client-we-serve']">Clients We Serve</a></li>
            <li><a [routerLink]="['/blogs']">Blogs</a></li>
            <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
            <li><a [routerLink]="['/join-us']">Join our Panel</a></li>
          </ul>
        </div>
        <!-- end col-8 -->
      </div>
      <div class="row">
        <div class="col-lg-8">
          <h5>Contact Us</h5>
          <ul>
            <li><a [routerLink]="['/speak-to-an-expert']">Speak to an Expert</a></li>
            <li><a [routerLink]="['/contact-us']">General Enquiry</a></li>
            <li><a [routerLink]="['/survey-participants']">Survey Participants</a></li>
            <li><a [routerLink]="['/career']">Careers</a></li>
          </ul>
        </div>
        <!-- end col-8 -->
      </div>
    </div>
  </div>
  <!-- end footer-bottom -->
  <div class="copywrite-footer wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-bar"><span class="copyright">© 2024 Prizm Data | All Rights Reserved</span></div>
        <div class="col-md-6 footer-bar text-right"><span class="copyright">Designed & Developed by Brandhype.in</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer-copyright -->
</footer>
