<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="footer-logo wow fadeInUp">
          <img src="/assets/images/logo.png" />
        </div>
        <div class="footer-heading">
          Prolog Insights Zillion Market Private Limited (PRIZM)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="footer-item">
          <h4>CANADA</h4>
          <p>
            6525 Chemin de la Cote Saint Luc, #505, Cote Saint Luc, Quebec, H4V
            1G5 CA
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="footer-item">
          <h4>USA</h4>
          <p>7550 S Blackhawk St, Englewood, Denver, Colorado, 80112</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="footer-item">
          <h4>INDIA</h4>
          <p>404 GH06 SEC-20, HARYANA, Panchkula, Haryana, India, 134116</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="footer-item">
          <h4>Email</h4>
          <p>
            <a href="mailto:sales@prizmdata.com">sales&#64;prizmdata.com</a>
            <span>India | USA | Canada</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="footer-box1">
          <h5>OUICK LINKS</h5>
          <ul>
            <li><a [routerLink]="['/services']">Services</a></li>
            <li><a [routerLink]="['/client-we-serve']">Clients We Serve</a></li>
            <li><a [routerLink]="['/blogs']">Blog Insights</a></li>
            <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
            <li><a [routerLink]="['/join-us']">Join our Panel</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="footer-box1">
          <h5>CONTACT US</h5>
          <ul>
            <li>
              <a [routerLink]="['/speak-to-an-expert']">Speak to an Expert</a>
            </li>
            <li><a [routerLink]="['/contact-us']">General Enquiry</a></li>
            <li>
              <a [routerLink]="['/survey-participants']">Survey Participants</a>
            </li>
            <li><a [routerLink]="['/career']">Careers</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="copyright">© 2024 Prizm Data | All Rights Reserved</div>
      </div>
    </div>
  </div>
</div>
