<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>Clients We Serve</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->

  <div class="sound"><span> SOUND </span>
    <div class="equalizer">
      <div class="holder"><span></span> <span></span> <span></span> <span></span><span></span><span></span></div>
    </div>
  </div>
  <!-- end sound -->
</header>
<!-- end header -->

<section class="client-serve-area">
  <div class="container">
    <div class="col-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <h6>FASTEST-GROWING RESEARCH AND ANALYTICS</h6>
      <h2 class="main-sec-hd">Clients</h2>
      <p>Our clients are market research firms, consulting companies and professional services firms. We provide all
        services for market research including survey programming, data collection, and data processing.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="tpser position-relative">
          <div class="tpser-bg"></div>
          <div class="tpser-content">
            <h4 class="tpser-title"><br>Consulting Firms</h4>
          </div>
          <div class="tpser-thumb w-img">
            <img src="assets/images/ser-1.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="tpser position-relative">
          <div class="tpser-bg tpser-bg2"></div>
          <div class="tpser-content">
            <h4 class="tpser-title"><br>Market Research Firms</h4>
          </div>
          <div class="tpser-thumb w-img">
            <img src="assets/images/ser-2.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="tpser position-relative">
          <div class="tpser-bg tpser-bg3"></div>
          <div class="tpser-content">
            <h4 class="tpser-title"><br> Professional Services Firms</h4>
          </div>
          <div class="tpser-thumb w-img">
            <img src="assets/images/ser-3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
