<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>{{ 'Clients We Serve' | translate }}</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">{{ 'FACEBOOK' | translate }}</a></li>
      <li><a href="#">{{ 'INSTAGRAM' | translate }}</a></li>
      <li><a href="#">{{ 'YOUTUBE' | translate }}</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->
  <!-- end sound -->
</header>
<!-- end header -->

<section class="client-serve-area">
  <div class="container">
    <div class="col-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <h6>{{ 'FASTEST-GROWING RESEARCH AND ANALYTICS' | translate }}</h6>
      <h2 class="main-sec-hd">{{ 'Clients' | translate }}</h2>
      <p>
        {{ 'Our clients are market research firms, consulting companies and professional services firms. We provide all services for market research including survey programming, data collection, and data processing.' | translate }}
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="tpser position-relative">
          <div class="tpser-bg"></div>
          <div class="tpser-content">
            <h4 class="tpser-title"><br>{{ 'Consulting Firms' | translate }}</h4>
          </div>
          <div class="tpser-thumb w-img">
            <img alt="" src="assets/images/ser-1.jpg"/>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="tpser position-relative">
          <div class="tpser-bg tpser-bg2"></div>
          <div class="tpser-content">
            <h4 class="tpser-title"><br>{{ 'Market Research Firms' | translate }}</h4>
          </div>
          <div class="tpser-thumb w-img">
            <img alt="" src="assets/images/ser-2.jpg"/>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="tpser position-relative">
          <div class="tpser-bg tpser-bg3"></div>
          <div class="tpser-content">
            <h4 class="tpser-title"><br>{{ 'Professional Services Firms' | translate }}</h4>
          </div>
          <div class="tpser-thumb w-img">
            <img alt="" src="assets/images/ser-3.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
