<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif">
  </div>
  <div class="container">
    <h1>Our Services</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->

  <div class="sound"> <span> SOUND </span>
    <div class="equalizer">
      <div class="holder"> <span style="height: 26.6601px;"></span> <span style="height: 5.94542px;"></span> <span style="height: 17.9915px;"></span> <span style="height: 1.67211px;"></span><span style="height: 9.07452px;"></span><span style="height: 16.9833px;"></span> </div>
    </div>
  </div>
  <!-- end sound -->
</header>
