<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>{{ 'Contact Us' | translate }}</h1>
  </div>
</header>
<section class="hello">
  <div class="container">
    <div class="row">
      <div
        class="col-12 wow fadeIn"
        style="visibility: visible; animation-name: fadeIn"
      >
        <h6>{{ 'CONTACT WITH US' | translate }}</h6>
        <h2 data-text="Hello" style="width: calc(100dvw - 20px)">
          {{ 'Feel Free to Get in Touch !!' | translate }}
        </h2>
      </div>
      <!-- end col-12 -->
      <div
        class="col-md-4 wow fadeIn"
        style="visibility: visible; animation-name: fadeIn"
      >
        <address>
          <b>{{ 'Canada' | translate }}</b>
          <p>
            6525 {{ 'Chemin de la Cote Saint Luc' | translate }}, #505,
            {{ 'Cote Saint Luc, Quebec' | translate }}, H4V<br/>
            1G5 {{ 'CA' | translate }}
          </p>
        </address>
      </div>
      <!-- end col-4 -->
      <div
        class="col-md-4 wow fadeIn"
        data-wow-delay="0.05s"
        style="
          visibility: visible;
          animation-delay: 0.05s;
          animation-name: fadeIn;
        "
      >
        <address>
          <b>{{ 'USA' | translate }}</b>
          <p>
            7550 {{ 'S Blackhawk St' | translate }},
            {{ 'Englewood, Denver' | translate }} 80112
          </p>
        </address>
      </div>
      <!-- end col-4 -->
      <div
        class="col-md-4 wow fadeIn"
        data-wow-delay="0.10s"
        style="
          visibility: visible;
          animation-delay: 0.1s;
          animation-name: fadeIn;
        "
      >
        <address>
          <b>{{ 'India' | translate }}</b>
          <p>
            404 {{ 'GH06 SEC-20, HARYANA' | translate }},<br/>
            {{ 'Panchkula, Haryana, India' | translate }}, 134116
          </p>
        </address>
      </div>
      <div
        class="col-md-4 wow fadeIn"
        data-wow-delay="0.10s"
        style="
          visibility: visible;
          animation-delay: 0.1s;
          animation-name: fadeIn;
        "
      >
        <address>
          <b>{{ 'Dubai' | translate }}</b>
          <p>
            {{ 'IFZA Business Park, DDP' | translate }},<br/>
            {{ 'PO Box 342001, Dubai' | translate }}
          </p>
        </address>
      </div>
      <!-- end col-4 -->
    </div>
    <!-- end row -->
    <div class="row d-flex justify-content-center align-items-center">
      <div
        class="col-lg-10 wow fadeIn"
        data-wow-delay="0.05s"
        style="
          visibility: visible;
          animation-delay: 0.05s;
          animation-name: fadeIn;
        "
      >
        <form
          #myForm="ngForm"
          (ngSubmit)="submitForm(myForm)"
          class="row inner"
          id="contact"
          method="post"
          name="contact"
          novalidate="novalidate"
        >
          <div class="form-group col-sm-6 col-12">
            <label><span>{{ 'Name' | translate }}</span></label>
            <input
              [(ngModel)]="formData.name"
              id="name"
              name="name"
              required=""
              type="text"
            />
          </div>
          <div class="form-group col-sm-6 col-12">
            <label><span>{{ 'Mobile No.' | translate }}</span></label>
            <input
              [(ngModel)]="formData.phoneNumber"
              id="phone"
              name="phone"
              required=""
              type="text"
            />
          </div>
          <div class="form-group col-sm-12 col-12">
            <label><span>{{ 'Email' | translate }}</span></label>
            <input
              [(ngModel)]="formData.email"
              id="email"
              name="email"
              required=""
              type="text"
            />
          </div>
          <div class="form-group col-12">
            <label><span>{{ 'Message' | translate }}</span></label>
            <textarea
              [(ngModel)]="formData.message"
              id="message"
              name="message"
              required=""
            ></textarea>
          </div>
          <div class="form-group col-12">
            <button id="submit" name="submit" type="submit">
              {{ 'SUBMIT' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
