<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>About Us</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->

  <div class="sound"> <span> SOUND </span>
    <div class="equalizer">
      <div class="holder"> <span></span> <span></span> <span></span> <span></span><span></span><span></span> </div>
    </div>
  </div>
  <!-- end sound -->
</header>
<!-- end header -->

<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s;">
        <h6>ABOUT PRIZM DATA</h6>
        <h2 data-text="Digital">Prizm Data & Consulting</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-lg-5 wow fadeIn">
        <h4>A fast-growing company in Market Research Industry</h4>
      </div>
      <!-- end col-5 -->
      <div class="col-lg-7 wow zoomIn" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s;">
        <p>A fast-growing company in the <strong>Market Research</strong> industry providing innovative online solutions to global clients with strong skills and technology</p>
        <p><strong>PROLOG INSIGHTS ZILLION MARKET PRIVATE LIMITED</strong> is an international full-service Market Research company that provides data collection services, project management, and complete insight delivery. We deliver High Data Quality that will inspire you and help you make business decisions with ease. Together with our select industry partners we directly connect with over 12 million respondents in over 35 countries with a focus on Consumers and B2B Decision Makers/Influencer</p>
      </div>
    </div>
  </div>
</section>
<!-- end intro -->

<section class="service-section section-grey">
  <div class="container">
    <div class="lines">
      <img src="assets/images/lines.svg" alt="">
    </div>
    <div class="col-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <h6>FASTEST-GROWING RESEARCH AND ANALYTICS</h6>
      <h2>What We Do </h2>
    </div>
    <div class="boxes">
      <div class="row min-30">
        <div class="col-lg-4 col-md-6">
          <div class="box has-secondary-bg has-left-icon wow rollIn" data-wow-delay="0s">
            <div class="box-particles2">
              <img src="assets/images/box-particle-2.svg" alt="">
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/data.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title"> Survey Programming</h3>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box has-shadow has-left-icon wow flipInX" data-wow-delay="1s">
            <div class="box-particles2">
              <img src="assets/images/box-particle-2.svg" alt="">
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/data-processing.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">Data processing</h3>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box has-secondary-bg has-left-icon wow bounceInRight" data-wow-delay="1s">
            <div class="box-particles2">
              <img src="assets/images/box-particle-2.svg" alt="">
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/project.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">Project Management</h3>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box has-shadow has-left-icon wow bounceInLeft" data-wow-delay="1s">
            <div class="box-particles2">
              <img src="assets/images/box-particle-2.svg" alt="">
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/data-collection.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">Data collection</h3>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box has-secondary-bg has-left-icon wow flipInX" data-wow-delay="1s">
            <div class="box-particles2">
              <img src="assets/images/box-particle-2.svg" alt="">
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/assesement.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">Media Assessment</h3>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box has-shadow has-left-icon wow bounceInRight" data-wow-delay="1s">
            <div class="box-particles2">
              <img src="assets/images/box-particle-2.svg" alt="">
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/monitor.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">Reporting & Analytics</h3>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="section-about">
  <div class="container">
    <div class="col-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <h6>FASTEST-GROWING RESEARCH AND ANALYTICS</h6>
      <h2 class="main-sec-hd">Our Passion</h2>
      <p><b>PROLOG INSIGHTS ZILLION MARKET PRIVATE LIMITED</b> are passionate about Quality, Technology & Language. Our deep analytical engine and advanced market research capabilities enable our clients to target their audiences with precision at surprising speed. Since our inception, our sampling and data collection methods have met the highest standards for both our market research industry and corporate clients.</p>
    </div>
    <div class="row align-items-center mb-md-5 pb-md-3">
      <div class="col-lg-6 wow bounceInRight" data-wow-delay="0s">
        <div class="about-img">
          <img src="assets/images/blog-t.gif" alt="" class="img-fluid w-100">
        </div>
      </div>
      <div class="col-lg-6 wow bounceInLeft" data-wow-delay="1s">
        <div class="about-item">
          <h2>Best in Class Standards in Quality and Execution</h2>
          <p>Managed by our high performing team, we employ state-of-the-art technologies and industry best practices that deliver high client satisfaction. We currently partner with many of the largest market research firms and corporations globally. Our clients return to us as we are one of the most capable data collection companies in our industry.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 wow bounceInRight" data-wow-delay="0s">
        <div class="about-item">
          <h2>Leadership with Deep Domain Experience</h2>
          <p>Working with us PROLOG INSIGHTS ZILLION MARKET PRIVATE LIMITED gives you comfort that every project will deliver reliable results. Whether we partner on ad-hoc projects or longer-term engagements, you will receive attentive and effective communications, high-quality data, superior feasibility, and increased sample ROI.</p>
        </div>
      </div>
      <div class="col-lg-6 wow bounceInLeft" data-wow-delay="1s">
        <div class="about-img">
          <img src="assets/images/contact-us-1.gif" alt="" class="img-fluid w-100">
        </div>
      </div>
    </div>
  </div>
</section>
