<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>Downloadables</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->

  <div class="sound"> <span> SOUND </span>
    <div class="equalizer">
      <div class="holder"> <span></span> <span></span> <span></span> <span></span><span></span><span></span> </div>
    </div>
  </div>
  <!-- end sound -->
</header>
<!-- end header -->

<section class="team">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <figure>
          <img src="assets/images/download-1.png" alt="Image">
          <figcaption>
            <h4>Complete Link Building Guide for Beginners</h4>
            <div class="read-more">
              <a href="#">Download Now</a>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-4 wow fadeIn" data-wow-delay="0.05s" style="visibility: visible; animation-delay: 0.05s; animation-name: fadeIn;">
        <figure>
          <img src="assets/images/download-2.png" alt="Image">
          <figcaption>
            <h4>Complete Link Building Guide for Beginners</h4>
            <div class="read-more">
              <a href="#">Download Now</a>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end col-4 -->
      <div class="col-lg-4 col-md-4 wow fadeIn" data-wow-delay="0.10s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
        <figure>
          <img src="assets/images/download-3.png" alt="Image">
          <figcaption>
            <h4>Complete Link Building Guide for Beginners</h4>
            <div class="read-more">
              <a href="#">Download Now</a>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end col-4 -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
