<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>Downloadables</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->
  <!-- end sound -->
</header>
<!-- end header -->

<section class="team">
  <div class="container">
    <div class="row justify-content-center">
      <ng-container *ngIf="downloadItems.length > 0; else noDataMessage">
        <div class="col-lg-4 col-md-4 wow fadeIn" *ngFor="let item of downloadItems; let i = index"
             [style.visibility]="'visible'" [style.animationName]="'fadeIn'" [style.animationDelay]="i * 0.05 + 's'">
          <figure>
            <img [src]="item.imageUrl" alt="Image">
            <figcaption>
              <h4>{{ item.title }}</h4>
              <div class="read-more">
                <a href="#">{{ item.buttonText }}</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </ng-container>
      <ng-template #noDataMessage>
        <h3>We will shortly upload the data for downloading.</h3>
      </ng-template>
      <!-- end col-4 -->
    </div>

    <!-- end row -->
  </div>
  <!-- end container -->
</section>
