<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>Career</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->
  <!-- end sound -->
</header>
<!-- end header -->

<section class="featured-job-area feature-padding">
  <div class="container">
    <!-- Section Tittle -->
    <div class="row">
      <div class="col-lg-12">
        <div class="section-tittle text-center">
          <span>Recent Job</span>
          <h2>Featured Jobs</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <!-- single-job-content -->
        <div class="single-job-items mb-30"
             [style.justify-content]="!(jobOpenings && jobOpenings.length > 0) ? 'center':''">
          <div class="job-items">
            <!-- Check if jobOpenings array exists and is not empty -->
            <ng-container *ngIf="jobOpenings && jobOpenings.length > 0; else noJobOpenings">
              <div class="job-tittle" *ngFor="let job of jobOpenings">
                <a href="#!"><h4>{{ job.title }}</h4></a>
                <ul>
                  <li><i class="fas fa-map-marker-alt"></i> {{ job.location }}</li>
                </ul>
              </div>
            </ng-container>
            <!-- Render "No Job Openings" if jobOpenings array is empty -->
            <ng-template #noJobOpenings>
              <h3 style="text-align: center">No Job Openings</h3>
            </ng-template>
          </div>

          <div class="items-link f-right" *ngIf="jobOpenings && jobOpenings.length > 0">
            <a href="#career-form">Full Time</a>
          </div>
        </div>
      </div>
    </div>
    <div class="hello">
      <div id="career-form" class="row d-flex justify-content-center align-items-center">
        <!-- end col-6 -->
        <div class="col-lg-12 wow fadeIn" data-wow-delay="0.05s"
             style="visibility: visible; animation-delay: 0.05s; animation-name: fadeIn;">
          <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)" class="row inner" id="contact" name="contact"
                method="post" novalidate="novalidate">
            <h2>Lets Connect with us !</h2>
            <div class="form-group col-sm-6 col-12">
              <label><span>Name</span></label>
              <input [(ngModel)]="formData.name" type="text" name="name" id="name" required="">
            </div>
            <div class="form-group col-sm-6 col-12">
              <label><span>Mobile No.</span></label>
              <input [(ngModel)]="formData.phoneNumber" type="text" name="phone" id="phone" required="">
            </div>
            <div class="form-group col-sm-6 col-12">
              <label><span>Email</span></label>
              <input [(ngModel)]="formData.email" type="text" name="email" id="email" required="">
            </div>
            <div class="form-group col-sm-6 col-12">
              <label><span>Location</span></label>
              <input [(ngModel)]="formData.location" type="text" name="location" id="location" required="">
            </div>
            <div class="form-group col-12">
              <label><span>Message</span></label>
              <textarea [(ngModel)]="formData.message" name="message" id="message" required=""></textarea>
            </div>
            <div class="form-group col-12">
              <label><span>Upload Resume</span></label>
              <input type="file" [(ngModel)]="formData.file" name="file-880" size="40" class="form-control sdr-frs brow"
                     accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv"
                     aria-required="true" aria-invalid="false">
            </div>
            <div class="form-group col-12">
              <button id="submit" type="submit" name="submit">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
