.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  border-top: 3px solid #660018;
}

.btn-primary {
  background-color: #800020;
  border: none;
}

.btn-primary:hover {
  background-color: #660018;
}

.navbar-brand img {
  margin-right: 10px;
}

.nav-right {
  width: 100%;
}

.nav-right-upper {
  display: flex;
  font-size: 16px;
  background: #f4f5f8;
  margin-left: -10px;
  align-items: center;
}

.nav-left {
  background: #f4f5f9;
  height: 130px;
  width: 15%;
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 6px solid #870638;
}

.nav-right-downer {
  margin-top: 10px;
}

.nav-right-downer a {
  font-family: "Montserrat", serif;
  font-size: 13px;
  letter-spacing: 0.1px;
  line-height: 1.25;
  border: none;
  font-weight: bold;
  outline: none;
  text-rendering: optimizeLegibility;
  color: #121212;
  transition: color 0.3s ease-in-out;
  text-transform: capitalize;
}

.mob-cont {
  display: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 35px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  direction: ltr !important;
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


@media (max-width: 480px) {
  .mob-cont {
    display: block;
  }

  .desk-cont {
    display: none;
  }
}
