<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>{{ 'Our Services' | translate }}</h1>
  </div>
</header>

<section class="clients">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div
        class="col-lg-12 wow fadeIn"
        data-wow-delay="1s"
        style="visibility: visible; animation-delay: 1s; animation-name: fadeIn"
      >
        <h6>{{ 'START_WORKING_WITH_US' | translate }}</h6>
        <h2>{{ 'FULL_SERVICE_SUPPORT' | translate }}</h2>
        <p>
          {{ 'MARKET_RESEARCH_PARAGRAPH_1' | translate }}
        </p>
        <p>
          {{ 'MARKET_RESEARCH_PARAGRAPH_2' | translate }}
        </p>

      </div>
    </div>
  </div>
</section>

<section class="service-section section-grey">
  <div class="container">
    <div class="lines">
      <img alt="" src="assets/images/lines.svg"/>
    </div>
    <div
      class="col-12 wow fadeIn"
      style="visibility: visible; animation-name: fadeIn"
    >
      <h6>{{ 'FASTEST-GROWING RESEARCH AND ANALYTICS' | translate }}</h6>
      <h2>{{ 'What We Do' | translate }}</h2>
    </div>
    <div class="boxes">
      <div class="row min-30">
        <div class="col-lg-4 col-md-6">
          <div
            class="box has-secondary-bg has-left-icon wow rollIn"
            data-wow-delay="0s"
          >
            <div class="box-particles2">
              <img alt="" src="assets/images/box-particle-2.svg"/>
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/data.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">{{ 'Survey Programming' | translate }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="box has-shadow has-left-icon wow flipInX"
            data-wow-delay="1s"
          >
            <div class="box-particles2">
              <img alt="" src="assets/images/box-particle-2.svg"/>
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/data-processing.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">{{ 'Data processing'  | translate }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="box has-secondary-bg has-left-icon wow bounceInRight"
            data-wow-delay="1s"
          >
            <div class="box-particles2">
              <img alt="" src="assets/images/box-particle-2.svg"/>
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/project.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">{{ 'Project Management' | translate }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="box has-shadow has-left-icon wow bounceInLeft"
            data-wow-delay="1s"
          >
            <div class="box-particles2">
              <img alt="" src="assets/images/box-particle-2.svg"/>
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/data-collection.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">{{ 'Data collection' | translate }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="box has-secondary-bg has-left-icon wow flipInX"
            data-wow-delay="1s"
          >
            <div class="box-particles2">
              <img alt="" src="assets/images/box-particle-2.svg"/>
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/assesement.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">{{ 'Media Assessment' | translate }}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div
            class="box has-shadow has-left-icon wow bounceInRight"
            data-wow-delay="1s"
          >
            <div class="box-particles2">
              <img alt="" src="assets/images/box-particle-2.svg"/>
            </div>
            <div class="row">
              <div class="col-auto">
                <div class="box-icon">
                  <img src="assets/images/monitor.png"/>
                </div>
              </div>
              <div class="col d-flex align-items-center">
                <h3 class="box-title">{{ 'Reporting & Analytics' | translate }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="promo-section ptb-100">
  <div class="container">
    <div
      class="col-12 wow fadeIn"
      style="visibility: visible; animation-name: fadeIn"
    >
      <h6>{{ 'BUSINESS TARGET' | translate }}</h6>
      <h2>{{ 'Target your Market with Confidence'  | translate }}</h2>
      <p>
        {{
          'Your business is in a persistent battle for your clients’ recognition whether you know it or not.'  | translate
        }}
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-3 wow flipInX" data-wow-delay="0s">
        <div class="promo-single-wrap text-center custom-shadow rounded">
          <div class="promo-icon mb-4">
            <img src="assets/images/achievement.png"/>
            <span class="number-bg">01</span>
          </div>
          <div class="promo-info">
            <p>
              {{ 'Constantly Focus on Quality & Quantity Add images, text and links, or connect data from your collection.'  | translate }} </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow flipInX" data-wow-delay="1s">
        <div class="promo-single-wrap text-center custom-shadow rounded">
          <div class="promo-icon mb-4">
            <img src="assets/images/rankings.png"/>
            <span class="number-bg">02</span>
          </div>
          <div class="promo-info">
            <p>
              {{ 'Provide Excellence' | translate }}<br/>
              {{ 'Result' | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow flipInX" data-wow-delay="1s">
        <div class="promo-single-wrap text-center custom-shadow rounded">
          <div class="promo-icon mb-4">
            <img src="assets/images/target.png"/>
            <span class="number-bg">03</span>
          </div>
          <div class="promo-info">
            <p>Cognisant & Cohesive market goal</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 wow flipInX" data-wow-delay="1s">
        <div class="promo-single-wrap text-center custom-shadow rounded">
          <div class="promo-icon mb-4">
            <img src="assets/images/public-relation.png"/>
            <span class="number-bg">04</span>
          </div>
          <div class="promo-info">
            <p>Cultivate Long-Term Relationships with our clients</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-counter">
  <div class="container">
    <div
      class="col-12 wow fadeIn"
      style="visibility: visible; animation-name: fadeIn"
    >
      <h6>FASTEST-GROWING RESEARCH AND ANALYTICS</h6>
      <h2 class="main-sec-hd">Why Choose Us</h2>
      <p>
        Our B2B and Consumer respondent data meets the highest standards for
        both our Market Research industry and corporate clients. Here are some
        Annual figures about Market Research Panel.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="coun-bg">
          <div class="col-6">
            <div class="tiles-box">
              <i aria-hidden="true" class="fa fa-user"></i>
              <h3>CLIENTS</h3>
              <p>
                <span
                  class="counter"
                  data-count-end="700"
                  data-count-start="0"
                  data-speed="60"
                ></span
                >{{ counters?.["CLIENTS"] }}K+
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="tiles-box">
              <i aria-hidden="true" class="fa fa-check"></i>
              <h3>PROJECTS</h3>
              <p>
                <span
                  class="counter"
                  data-count-end="7"
                  data-count-start="0"
                  data-speed="90"
                ></span
                >{{ counters?.["PROJECTS"] }}K+
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="tiles-box">
              <i aria-hidden="true" class="fa fa-globe"></i>
              <h3>COUNTRIES</h3>
              <p>
                <span
                  class="counter"
                  data-count-end="35"
                  data-count-start="0"
                  data-speed="90"
                ></span
                >{{ counters?.["COUNTRIES"] }}
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="tiles-box">
              <i aria-hidden="true" class="fa fa-poll"></i>
              <h3>SURVEY RUNS</h3>
              <p>
                <span
                  class="counter"
                  data-count-end="13"
                  data-count-start="0"
                  data-speed="90"
                ></span
                >{{ counters?.["SURVEY_RUNS"] }}K+
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="coun-bg">
          <div class="col-6">
            <div class="tiles-box">
              <i aria-hidden="true" class="fa fa-poll"></i>
              <h3>B2B SURVEYS</h3>
              <p>
                <span
                  class="counter"
                  data-count-end="4"
                  data-count-start="0"
                  data-speed="90"
                ></span
                >{{ counters?.["B2B_SURVEYS"] }}K+
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="tiles-box">
              <i aria-hidden="true" class="fa fa-user-plus"></i>
              <h3>TOTAL RESPONDENTS</h3>
              <p>
                <span
                  class="counter"
                  data-count-end="8"
                  data-count-start="0"
                  data-speed="90"
                ></span
                >{{ counters?.["TOTAL_RESPONDENTS"] }}M
              </p>
            </div>
          </div>
          <div class="col-6">
            <div class="tiles-box">
              <i aria-hidden="true" class="fa fa-check"></i>
              <h3>SURVEYS COMPLETED</h3>
              <p>
                <span
                  class="counter"
                  data-count-end="600"
                  data-count-start="0"
                  data-speed="70"
                ></span
                >{{ counters?.["SURVEYS_COMPLETED"] }}K+
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Us Section -->
<section class="why-us">
  <div class="video-bg">
    <video
      autoplay
      loop
      muted
      playsinline
      src="assets/videos/why-choose-v.mp4"
    ></video>
  </div>
  <div class="container">
    <div class="col-12 wow fadeIn">
      <h6>EASY WAY BUILD SUCCESS YOUR BUSINESS PLAN</h6>
      <h2>Services We Provide</h2>
    </div>
    <!-- end col-12 -->
    <div class="row">
      <div class="col-sm-6 col-lg-4 wow rollIn" data-wow-delay="1s">
        <div class="box">
          <span>01</span>
          <h4>
            <a routerLink="/services/quantitative-research"
            >Quantitative Research</a
            >
          </h4>
          <p>
            We use numbers and data to study and analyze trends, patterns, and
            relationships in a systematic way.
          </p>
          <img alt="" src="assets/images/image-one.jpg"/>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-6 col-lg-4 wow flipInX" data-wow-delay="1s">
        <div class="box">
          <span>02</span>
          <h4>
            <a routerLink="/services/qualitative-research"
            >Qualitative Research</a
            >
          </h4>
          <p>
            Explores people's thoughts, feelings, and behaviors through in-depth
            interviews, observations, and open-ended questions.
          </p>
          <img alt="" src="assets/images/image-two.jpg"/>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-6 col-lg-4 wow bounceInRight" data-wow-delay="1s">
        <div class="box">
          <span>03</span>
          <h4><a routerLink="/services/b2b-research">B2B Research</a></h4>
          <p>
            Focuses on understanding the needs, preferences, and behavior of
            businesses when making purchasing decisions.
          </p>
          <img alt="" src="assets/images/image-three.jpg"/>
        </div>
      </div>
      <!-- end col-4 -->
      <!-- end col-4 -->
      <div class="col-sm-6 col-lg-4 wow flipInX" data-wow-delay="1s">
        <div class="box">
          <span>04</span>
          <h4><a routerLink="/services/industries">Industries</a></h4>
          <p>
            Provides assistance in insights and analysis on various economic
            sectors, helping businesses understand market trends and make
            informed decisions.
          </p>
          <img alt="" src="assets/images/industries.jpg"/>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 wow flipInX" data-wow-delay="1s">
        <div class="box">
          <span>05</span>
          <h4>
            <a routerLink="/services/bespoke-services">Bespoke Services</a>
          </h4>
          <p>
            Customization, adaptability, and individualized attention are our
            top priorities in order to guarantee that the final outcome fulfills
            each client's precise needs and expectations
          </p>
          <img alt="" src="assets/images/bespoke-services.jpg"/>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-6 col-lg-4 wow bounceInRight" data-wow-delay="1s">
        <div class="box">
          <span>06</span>
          <h4><a routerLink="/services/solutions">Solutions</a></h4>
          <p>
            We offer practical answers and strategies to address business
            challenges, providing tailored solutions based on comprehensive
            market analysis.
          </p>
          <img alt="" src="assets/images/image-six.jpg"/>
        </div>
      </div>
    </div>
  </div>
</section>
