<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>Upcoming Events</h1>
  </div>
  <div class="sound">
    <span> SOUND </span>
    <div class="equalizer">
      <div class="holder">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

<section class="news news-detail">
  <div class="container">
    <div class="row" [style.justify-content]="events.length > 0 ? '':'center'">
      <div class="col-8">
        <ng-container *ngIf="events.length > 0; else noEventsMessage">
          <div class="post single-post wow fadeUp" *ngFor="let event of events; let i = index">
            <figure class="post-image">
              <img [src]="event.imageUrl" alt="Event Image">
            </figure>
            <div class="post-content">
              <div class="inner">
                <small class="post-date">{{ event.date }}</small>
                <h3 class="post-title"><a href="#">{{ event.title }}</a></h3>
                <h6>{{ event.description }}</h6>
                <p>{{ event.details }}</p>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noEventsMessage>
          <h3 style="text-align: center">No Upcoming Events</h3>
        </ng-template>
      </div>
      <div class="col-4" *ngIf="!!recentPosts.length">
        <div class="td-sidebar">
          <div class="widget widget-recent-post">
            <h4 class="widget-title">Recent Post</h4>
            <ul>
              <li *ngFor="let recentPost of recentPosts">
                <div class="media">
                  <div class="media-left">
                    <img [src]="recentPost.imageUrl" alt="Recent Post Image">
                  </div>
                  <div class="media-body align-self-center">
                    <h6 class="title"><a href="#">{{ recentPost.title }}</a></h6>
                    <div class="post-info">{{ recentPost.date }}</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
