<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>Upcoming Events</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->

  <div class="sound"> <span> SOUND </span>
    <div class="equalizer">
      <div class="holder"> <span></span> <span></span> <span></span> <span></span><span></span><span></span> </div>
    </div>
  </div>
  <!-- end sound -->
</header>
<!-- end header -->

<section class="news news-detail">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="post single-post wow fadeUp">
          <figure class="post-image">
            <img src="assets/images/upcoming-event-single.jpg" alt="Image">
          </figure>
          <!-- end news-image -->
          <div class="post-content">
            <div class="inner"> <small class="post-date">28 DECEMBER, 2023</small>
              <h3 class="post-title"><a href="#">Lorem Ipsum is simply dummy</a></h3>
              <h6>Business is the activity of making one's living or making money by producing or buying and selling products (goods and services).Simply put, it is "any activity or enterprise entered into for profit. </h6>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>

              <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="td-sidebar">
          <div class="widget widget-recent-post">
            <h4 class="widget-title">Recent Post</h4>
            <ul>
              <li>
                <div class="media">
                  <div class="media-left">
                    <img src="assets/images/img-1.jpg" alt="blog">
                  </div>
                  <div class="media-body align-self-center">
                    <h6 class="title"><a href="#">Social Media For Promote Business.</a></h6>
                    <div class="post-info">15 October</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <img src="assets/images/img-2.jpg" alt="blog">
                  </div>
                  <div class="media-body align-self-center">
                    <h6 class="title"><a href="#">Marketing For Base market watch</a></h6>
                    <div class="post-info">15 October</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-left">
                    <img src="assets/images/img-3.jpg" alt="blog">
                  </div>
                  <div class="media-body align-self-center">
                    <h6 class="title"><a href="#">Condtum Integer urna at faucibus</a></h6>
                    <div class="post-info">15 October</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
