<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>Thank You Page</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->

  <div class="sound"><span> SOUND </span>
    <div class="equalizer">
      <div class="holder"><span></span> <span></span> <span></span> <span></span><span></span><span></span></div>
    </div>
  </div>
  <!-- end sound -->
</header>
<!-- end header -->

<section class="team">
  <div class="container">
    <div class="row justify-content-center">
      <h3>Thank you for your submission! We appreciate your time & our team will get in touch with you shortly.</h3>
      <!-- end col-4 -->
    </div>

    <!-- end row -->
  </div>
  <!-- end container -->
</section>
