<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>Join Us</h1>
  </div>
  <!-- <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">INSTAGRAM</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside> -->
  <!-- end left-side -->

  <div class="sound"> <span> SOUND </span>
    <div class="equalizer">
      <div class="holder"> <span></span> <span></span> <span></span> <span></span><span></span><span></span> </div>
    </div>
  </div>
  <!-- end sound -->
</header>
<!-- end header -->
<div class="register">
  <div class="row d-flex align-items-center">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h3>Welcome</h3>
      <p>It is with great pleasure and enthusiasm that we extend a warm welcome to each of you as valued members of our distinguished Expert Panel on Market Research!</p>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3 class="register-heading">Join our movement today!</h3>
          <div class="row register-form">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name *" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name *" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Company Name *" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Designation *" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email *" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Date of birth *" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control">
                  <option class="hidden"  selected disabled>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control">
                  <option class="hidden"  selected disabled>Marital-Status</option>
                  <option>Single</option>
                  <option>Married</option>
                  <option>Widowed</option>
                  <option>Divorced</option>
                  <option>Separated</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control">
                  <option class="hidden"  selected disabled>Children</option>
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4+</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="USD 20,000 / GBP 20,000" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Country *" value="" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Zip Code" value="" />
              </div>
            </div>

            <input type="submit" class="btnRegister"  value="Send"/>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
