<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>{{ 'Join Us' | translate }}</h1>
  </div>
  <div class="sound">
    <span> SOUND </span>
    <div class="equalizer">
      <div class="holder">
        <span></span> <span></span> <span></span> <span></span><span></span
      ><span></span>
      </div>
    </div>
  </div>
  <!-- end sound -->
</header>
<!-- end header -->
<div class="register">
  <div class="row d-flex align-items-center">
    <div class="col-md-3 register-left">
      <!--      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>-->
      <h3>{{ 'Welcome' | translate }}</h3>
      <p>
        {{ 'It is with great pleasure and enthusiasm that we extend a warm welcome to each of you as valued members of our distinguished Expert Panel on Market Research!' | translate }} </p>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div
          aria-labelledby="home-tab"
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
        >
          <h3 class="register-heading" style="font-size: 1.75rem">
            {{ 'Join our movement today!' | translate }}
          </h3>
          <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.fname"
                    class="form-control"
                    name="fname"
                    placeholder="First Name *"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.lname"
                    class="form-control"
                    name="lname"
                    placeholder="Last Name *"
                    required
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.companyname"
                    class="form-control"
                    name="companyname"
                    placeholder="Company Name"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.designation"
                    class="form-control"
                    name="designation"
                    placeholder="Designation"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.email"
                    class="form-control"
                    name="email"
                    placeholder="Email *"
                    required
                    type="email"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.dob"
                    class="form-control"
                    name="dob"
                    placeholder="Date of Birth"
                    type="date"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select
                    [(ngModel)]="formData.gender"
                    class="form-control"
                    name="gender"
                  >
                    <option disabled selected value="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select
                    [(ngModel)]="formData.maritalStatus"
                    class="form-control"
                    name="maritalStatus"
                  >
                    <option disabled selected value="">Marital Status</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Widowed">Widowed</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Separated">Separated</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select
                    [(ngModel)]="formData.children"
                    class="form-control"
                    name="children"
                  >
                    <option disabled selected value="">Children</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4+">4+</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.currency"
                    class="form-control"
                    name="currency"
                    placeholder="Currency"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.country"
                    class="form-control"
                    name="country"
                    placeholder="Country"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.zip"
                    class="form-control"
                    name="zip"
                    placeholder="Zip Code"
                    type="text"
                  />
                </div>
              </div>

              <input class="btnRegister" type="submit" value="Send"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
