<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>{{ contentData?.title | translate }}</h1>
  </div>
  <!-- end sound -->
</header>
<!-- end header -->

<section class="service-details-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="service-details-wrap">
          <img alt="services" class="img-fluid rounded shadow-sm" src="assets/images/{{ contentData?.slug }}.jpg">
          <div class="services-detail-content mt-4">
            <h3>{{ contentData.title | translate }}</h3>
            <p>{{ contentData.description | translate }}</p>
            <h4>{{ contentData.subheading | translate }}</h4>
            <ng-container *ngIf="contentData?.subDescription">
              <p>{{ contentData?.subDescription | translate }}</p>
            </ng-container>
            <ul class="list-unstyled tech-feature-list">
              <li *ngFor="let item of contentData.listItems" class="py-1">
                <i aria-hidden="true" class="fa fa-check-square"></i>{{ item | translate }}
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="sidebar-right pl-md-4">

          <!--all services list-->
          <aside class="widget widget-categories">
            <div class="widget-title">
              <h5>{{ 'All Services' | translate }}</h5>
            </div>
            <ul class="all-service-list">
              <li><a href="/services/quantitative-research">{{ 'Quantitative Research' | translate }}</a></li>
              <li><a href="/services/qualitative-research">{{ 'Qualitative Research' | translate }}</a></li>
              <li><a href="/services/b2b-research">{{ 'B2B Research' | translate }}</a></li>
              <li><a href="/services/industries">{{ 'Industries' | translate }}</a></li>
              <li><a href="/services/bespoke-services">{{ 'Bespoke Services' | translate }}</a></li>
              <li><a href="/services/solutions">{{ 'Solutions'  | translate }}</a></li>
            </ul>
          </aside>

        </div>
      </div>
    </div>
  </div>
</section>
