<header class="page-header">
  <div class="inner-bg">
    <img src="assets/images/contact-us.gif"/>
  </div>
  <div class="container">
    <h1>{{ contentData?.title }}</h1>
  </div>
  <div class="sound"><span> SOUND </span>
    <div class="equalizer">
      <div class="holder"><span></span> <span></span> <span></span> <span></span><span></span><span></span></div>
    </div>
  </div>
  <!-- end sound -->
</header>
<!-- end header -->

<section class="service-details-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="service-details-wrap">
          <img src="assets/images/{{ contentData?.slug }}.jpg" alt="services" class="img-fluid rounded shadow-sm">
          <div class="services-detail-content mt-4">
            <h3>{{ contentData.title }}</h3>
            <p>{{ contentData.description }}</p>
            <h4>{{ contentData.subheading }}</h4>
            <ng-container *ngIf="contentData?.subDescription">
              <p>{{ contentData?.subDescription }}</p>
            </ng-container>
            <ul class="list-unstyled tech-feature-list">
              <li class="py-1" *ngFor="let item of contentData.listItems">
                <i aria-hidden="true" class="fa fa-check-square"></i>{{ item }}
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="sidebar-right pl-md-4">

          <!--all services list-->
          <aside class="widget widget-categories">
            <div class="widget-title">
              <h5>All Services</h5>
            </div>
            <ul class="all-service-list">
              <li><a href="/services/quantitative-research">Quantitative Research</a></li>
              <li><a href="/services/qualitative-research">Qualitative Research</a></li>
              <li><a href="/services/b2b-research">B2B Research</a></li>
              <li><a href="/services/india-data-facts">Data Facts</a></li>
              <li><a href="/services/industries">Industries</a></li>
              <li><a href="/services/solutions">Solutions</a></li>
            </ul>
          </aside>

        </div>
      </div>
    </div>
  </div>
</section>
