<section class="banner-sec" style="margin-top: 100px">
  <div
    class="banner-slider owl-carousel owl-theme mob-inject"
    style="display: flex; height: 75dvh"
  >
    <div class="item">
      <div class="item-content">
        <h2>Market <span>Planning</span></h2>
        <p>Grab our digital Marketing Deals today <span>01</span></p>
        <div class="banner-btnbox">
          <div class="btn-box2">
            <a class="butn butn__new" routerLink="/about-us"
              ><span>Read More</span></a
            >
          </div>
        </div>
      </div>
      <video
        autoplay=""
        class="vjs-tech inlinevideo"
        data-fullscreen="false"
        data-progressbar="false"
        data-volume="false"
        id="vjs_video_3_html90_api"
        loop=""
        muted="muted"
        playsinline="playsinline"
        preload="auto"
        role="application"
        src="/assets/images/video0.mp4"
        tabindex="-1"
      ></video>
      <div class="owl-nav">
        <button
          (click)="initializeOwlCarousel('left')"
          class="owl-prev"
          role="presentation"
          style="display: flex"
          type="button"
        >
          <span aria-label="Previous" style="font-size: 40px; color: #fff"
            >‹</span
          >
        </button>
        <button
          (click)="initializeOwlCarousel('right')"
          class="owl-next"
          role="presentation"
          style="display: flex"
          type="button"
        >
          <span aria-label="Next" style="font-size: 40px; color: #fff">›</span>
        </button>
      </div>
    </div>
    <div class="item">
      <div class="item-content">
        <h2>Global <span>Trends</span></h2>
        <p>Analyzing Trends Shaping [Industry] Worldwide <span>02</span></p>
        <div class="banner-btnbox">
          <div class="btn-box2">
            <a class="butn butn__new" routerLink="/about-us"
              ><span>Read More</span></a
            >
          </div>
        </div>
      </div>
      <video
        autoplay=""
        class="vjs-tech inlinevideo"
        data-fullscreen="false"
        data-progressbar="false"
        data-volume="false"
        id="vjs_video_3_html500_api"
        loop=""
        muted="muted"
        playsinline="playsinline"
        preload="auto"
        role="application"
        src="/assets/images/video01.mp4"
        tabindex="-1"
      ></video>
      <div class="owl-nav">
        <button
          (click)="initializeOwlCarousel('left')"
          class="owl-prev"
          role="presentation"
          style="display: flex"
          type="button"
        >
          <span aria-label="Previous" style="font-size: 40px; color: #fff"
            >‹</span
          >
        </button>
        <button
          (click)="initializeOwlCarousel('right')"
          class="owl-next"
          role="presentation"
          style="display: flex"
          type="button"
        >
          <span aria-label="Next" style="font-size: 40px; color: #fff">›</span>
        </button>
      </div>
    </div>
    <div class="item">
      <div class="item-content">
        <h2>Targeting <span>Growth</span></h2>
        <p>Key Market Opportunities Revealed <span>03</span></p>
        <div class="banner-btnbox">
          <div class="btn-box2">
            <a class="butn butn__new" routerLink="/about-us"
              ><span>Read More</span></a
            >
          </div>
        </div>
      </div>
      <video
        autoplay=""
        class="vjs-tech inlinevideo"
        data-fullscreen="false"
        data-progressbar="false"
        data-volume="false"
        id="vjs_video_3_html5_api"
        loop=""
        muted="muted"
        playsinline="playsinline"
        preload="auto"
        role="application"
        src="/assets/images/video02.mp4"
        tabindex="-1"
      ></video>
      <div class="owl-nav">
        <button
          (click)="initializeOwlCarousel('left')"
          class="owl-prev"
          role="presentation"
          style="display: flex"
          type="button"
        >
          <span aria-label="Previous" style="font-size: 40px; color: #fff"
            >‹</span
          >
        </button>
        <button
          (click)="initializeOwlCarousel('right')"
          class="owl-next"
          role="presentation"
          style="display: flex"
          type="button"
        >
          <span aria-label="Next" style="font-size: 40px; color: #fff">›</span>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="service-sec dg-pdg-both">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInUp">
        <div class="sec-title text-center">
          <span class="sub-title"
            >Easy Way Build Success Your Business Plan</span
          >
          <h2>Services We Provide</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="300ms"
        style="animation-delay: 1300ms"
      >
        <div class="sv-container">
          <div class="image-box">
            <figure class="image">
              <img alt="Image" src="/assets/images/image-one.jpg" />
            </figure>
            <div class="icon-box">01</div>
          </div>
          <div class="sv-content">
            <h3>Quantitative Research</h3>
            <p>
              We use numbers and data to study and analyze trends, patterns, and
              relationships in a systematic way.
            </p>
            <a
              class="butn butn__new"
              routerLink="/services/quantitative-research"
              ><span>Read More</span></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="600ms"
      >
        <div class="sv-container">
          <div class="image-box">
            <figure class="image">
              <img alt="Image" src="/assets/images/image-two.jpg" />
            </figure>
            <div class="icon-box">02</div>
          </div>
          <div class="sv-content">
            <h3>Qualitative Research</h3>
            <p>
              Explores people's thoughts, feelings, and behaviors through
              in-depth interviews, observations, and questions.
            </p>
            <a
              class="butn butn__new"
              routerLink="/services/quantitative-research"
              ><span>Read More</span></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="900ms"
      >
        <div class="sv-container">
          <div class="image-box">
            <figure class="image">
              <img alt="Image" src="/assets/images/image-three.jpg" />
            </figure>
            <div class="icon-box">03</div>
          </div>
          <div class="sv-content">
            <h3>B2B Research</h3>
            <p>
              Focuses on understanding the needs, preferences, and behavior of
              businesses when making purchasing decisions.
            </p>
            <a class="butn butn__new" routerLink="/services/b2b-research"
              ><span>Read More</span></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="1200ms"
      >
        <div class="sv-container">
          <div class="image-box">
            <figure class="image">
              <img alt="Image" src="/assets/images/industries.jpg" />
            </figure>
            <div class="icon-box">04</div>
          </div>
          <div class="sv-content">
            <h3>Industries</h3>
            <p>
              Provides assistance in insights and analysis on various economic
              sectors, helping businesses understand market trends and make
              informed decisions.
            </p>
            <a class="butn butn__new" routerLink="/services/industries"
              ><span>Read More</span></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="1500ms"
      >
        <div class="sv-container">
          <div class="image-box">
            <figure class="image">
              <img alt="Image" src="/assets/images/bespoke-services.jpg" />
            </figure>
            <div class="icon-box">05</div>
          </div>
          <div class="sv-content">
            <h3>Bespoke Services</h3>
            <p>
              Customization, adaptability, and individualized attention are our
              top priorities in order to guarantee that the final outcome
              fulfills each client's precise needs and expectations
            </p>
            <a class="butn butn__new" routerLink="/services/bespoke-services"
              ><span>Read More</span></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="1800ms"
      >
        <div class="sv-container">
          <div class="image-box">
            <figure class="image">
              <img alt="Image" src="/assets/images/image-six.jpg" />
            </figure>
            <div class="icon-box">06</div>
          </div>
          <div class="sv-content">
            <h3>Solutions</h3>
            <p>
              We offer practical answers and strategies to address business
              challenges, providing tailored solutions based on comprehensive
              market analysis.
            </p>
            <a class="butn butn__new" routerLink="/services/solutions"
              ><span>Read More</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-section dg-pdg-both">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="sec-title wow fadeInUp text-center">
          <span class="sub-title">ABOUT PRIZM DATA</span>
          <h2>Prizm Data & Consulting</h2>
          <p>
            <strong>A FAST-GROWING COMPANY IN MARKET RESEARCH INDUSTRY</strong>
          </p>
          <p>
            MARKET RESEARCH INDUSTRY PROLOG INSIGHTS ZILLION MARKET PRIVATE
            LIMITED is a fast-growing company in the Market Research industry
            providing innovative online solutions to global clients with strong
            skills and technology.
          </p>
          <p>
            A fast-growing company in the Market Research industry providing
            innovative online solutions to global clients with strong skills and
            technology
          </p>
          <a class="butn butn__new hover-this" href="/about-us"
            ><span>Read More</span></a
          >
        </div>
      </div>
      <div class="image-column col-lg-12 col-md-12 col-sm-12">
        <div class="inner-column">
          <figure class="image-1 wow fadeInLeft">
            <img alt="" src="/assets/images/about-sec-img1.jpg" />
          </figure>
          <figure class="image-1 wow fadeInRight">
            <img alt="" src="/assets/images/about-sec-img2.jpg" />
          </figure>
          <div class="experience wow zoomIn">
            <span><strong>3600+</strong> Satisfied Client </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fun-fact-section dg-pdg-both">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInUp">
        <div class="sec-title text-center">
          <span class="sub-title">Unmatched Quality and Reliability</span>
          <h2>Why Choose Us</h2>
        </div>
      </div>
    </div>
    <div @fadeInUp class="row">
      <div
        class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="300ms"
        style="animation-delay: 1300ms"
      >
        <div class="inner">
          <div class="icon flaticon-business-060-graph">
            <img src="/assets/images/complete.png" />
          </div>
          <h6 class="counter-title">Project completed</h6>
          <div class="count-box"><span class="count-text">4520</span></div>
        </div>
      </div>
      <div
        class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="600ms"
        style="animation-delay: 1300ms"
      >
        <div class="inner">
          <div class="icon flaticon-business-060-graph">
            <img src="/assets/images/business.png" />
          </div>
          <h6 class="counter-title">Data specialists</h6>
          <div class="count-box"><span class="count-text">326</span></div>
        </div>
      </div>
      <div
        class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="900ms"
        style="animation-delay: 1300ms"
      >
        <div class="inner">
          <div class="icon flaticon-business-060-graph">
            <img src="/assets/images/costumer.png" />
          </div>
          <h6 class="counter-title">Satisfied clients</h6>
          <div class="count-box"><span class="count-text">8600</span></div>
        </div>
      </div>
      <div
        class="counter-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="1200ms"
        style="animation-delay: 1300ms"
      >
        <div class="inner">
          <div class="icon flaticon-business-060-graph">
            <img src="/assets/images/idea.png" />
          </div>
          <h6 class="counter-title">Smart solutions</h6>
          <div class="count-box"><span class="count-text">238</span></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faqs-section" id="contact">
  <div class="container-fluid">
    <div class="row">
      <div
        class="form-column col-lg-6 col-md-12 col-sm-12"
        style="background-image: url(/assets/images/3.jpg)"
      >
        <div class="inner-column">
          <div class="contact-form wow fadeInLeft">
            <div class="title-box">
              <span class="sub-title">START WORKING WITH US</span>
              <h3>PRIZM DATA IN MARKET INDUSTRY</h3>
              <p>
                Do you have a project opportunity, or are you just a looking to
                get creative solutions?
              </p>
            </div>
            <form action="get" id="contact-form" method="post">
              <div class="form-group">
                <input
                  name="full_name"
                  placeholder="Name"
                  required=""
                  type="text"
                />
              </div>
              <div class="form-group">
                <input
                  name="Phone"
                  placeholder="Phone Number"
                  required=""
                  type="text"
                />
              </div>
              <div class="form-group">
                <input
                  name="Email"
                  placeholder="Email ID"
                  required=""
                  type="text"
                />
              </div>
              <div class="form-group">
                <textarea
                  name="message"
                  placeholder="Your Query"
                  required=""
                ></textarea>
              </div>
              <div class="form-group">
                <button
                  class="butn butn__new hover-this"
                  name="submit-form"
                  type="submit"
                >
                  <span>Submit</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 col-md-12 col-sm-12 order-4"
        style="background-image: url(/assets/images/pattern-2.jpg)"
      >
        <div class="cta-column wow fadeInRight">
          <div class="sec-title text-center">
            <span class="sub-title">QUALITY DATA SUPPORT</span>
            <h2>Our Experience Can Boost Your Business</h2>
          </div>
          <div class="boost-img">
            <img src="/assets/images/boot-img.jpg" />
          </div>
          <ul>
            <li>
              <a href="mailto:sales@prizmdata.com">
                <div class="img-icon">
                  <img src="/assets/images/email.png" />
                </div>
                <div class="list-content">
                  <h4>Email Address</h4>
                  <span>sales&#64;prizmdata.com</span>
                </div>
              </a>
            </li>
            <!--            <li>-->
            <!--              <a href="tel:999999999">-->
            <!--                <div class="img-icon">-->
            <!--                  <img src="/assets/images/phone.png" />-->
            <!--                </div>-->
            <!--                <div class="list-content">-->
            <!--                  <h4>Phone Number</h4>-->
            <!--                  <span>999 999 999</span>-->
            <!--                </div>-->
            <!--              </a>-->
            <!--            </li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service2-section dg-pdg-both">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInUp">
        <div class="sec-title text-center">
          <h2>FASTEST-GROWING RESEARCH AND ANALYTICS</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="300ms"
        style="animation-delay: 300ms"
      >
        <div class="sv-style2-col">
          <div class="sv-st2-icon">
            <img src="/assets/images/svicon6.png" />
          </div>
          <h3>Syndicated Studies</h3>
          <p>
            We offer a wide range of Syndicated offerings. Off the shelf
            subscription. Customisable to your requirements.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="600ms"
      >
        <div class="sv-style2-col">
          <div class="sv-st2-icon">
            <img src="/assets/images/svicon5.png" />
          </div>
          <h3>Intelligent Automation</h3>
          <p>
            A dedicated panel of respondents spread across demographics that
            provide quick feedback using the mobile app.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="900ms"
      >
        <div class="sv-style2-col">
          <div class="sv-st2-icon">
            <img src="/assets/images/svicon4.png" />
          </div>
          <h3>Access Panel</h3>
          <p>
            A large database of online respondents spread across demographics
            that provide quick feedback via mail, SMS or calls.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="1200ms"
      >
        <div class="sv-style2-col">
          <div class="sv-st2-icon">
            <img src="/assets/images/svicon3.png" />
          </div>
          <h3>Digital Qual</h3>
          <p>
            We provide access to Online Focus Groups and one-on-one in-depth
            Interviews for quick, low cost research.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="1500ms"
      >
        <div class="sv-style2-col">
          <div class="sv-st2-icon">
            <img src="/assets/images/svicon2.png" />
          </div>
          <h3>Virtual World</h3>
          <p>
            We assist you to conduct product tests, concept and design checks
            using Virtual technology.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp"
        data-wow-delay="1800ms"
      >
        <div class="sv-style2-col">
          <div class="sv-st2-icon">
            <img src="/assets/images/svicon1.png" />
          </div>
          <h3>Market Planning</h3>
          <p>
            We can help you identify your business potential at a district,
            urban and rural level.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="client-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 p-0 wow fadeInLeft">
        <div class="client-sec-content">
          <div class="sec-title text-center">
            <span class="sub-title">START WORKING WITH US</span>
            <h2>Our Clients</h2>
            <p>
              DO YOU HAVE A PROJECT OPPORTUNITY, OR ARE YOU JUST A LOOKING TO
              GET CREATIVE SOLUTIONS?
            </p>
            <a class="butn butn__new hover-this" href="/contact-us"
              ><span>BE OUR CLIENT</span></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 client-img col-md-12 col-sm-12 p-0 wow fadeInRight"
      ></div>
    </div>
  </div>
</section>

<section class="blog-section dg-pdg-both" style="margin-bottom: 30px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInUp">
        <div class="sec-title text-center">
          <span class="sub-title">FASTEST-GROWING Research AND Analytics</span>
          <h2>Our Latest Insights</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-12 col-md-12 col-sm-12 wow fadeInUp"
        data-wow-delay="300ms"
        style="animation-delay: 300ms"
      >
        <div
          class="blog-loop owl-carousel owl-theme arrowbox outsidearrow wrap-flex"
          style="display: flex; gap: 10px"
        >
          <div class="blog-item-col">
            <div class="blog-imgarea">
              <img src="/assets/images/blog-img1.jpg" />
            </div>
            <div class="blog-content">
              <div class="datebox">29-Feb-2024</div>
              <h3>The Power of B2B Research in Strengthening Business</h3>
              <p>
                B2B research is like a treasure hunt. Here, businesses search
                for valuable insights to enhance their operations. It involves
                understanding the needs...
              </p>
              <a
                class="butn butn__new hover-this"
                href="/blogs/the-power-of-b2b-research-in-strengthening-business"
                ><span>Read More</span></a
              >
            </div>
          </div>
          <div class="blog-item-col">
            <div class="blog-imgarea">
              <img src="/assets/images/blog-img2.jpg" />
            </div>
            <div class="blog-content">
              <div class="datebox">09-March-2024</div>
              <h3>
                Why Is Quantitative Research Essential For Making Data-Driven
                Decisions?
              </h3>
              <p>
                The motto of quantitative research is to acquire knowledge and
                understanding of the social world to observe events that affect
                people. Relevant statistics...
              </p>
              <a
                class="butn butn__new hover-this"
                href="/blogs/why-is-quantitative-research-essential-for-making-data-driven-decisions"
                ><span>Read More</span></a
              >
            </div>
          </div>
          <div class="blog-item-col">
            <div class="blog-imgarea">
              <img src="/assets/images/blog-img3.jpg" />
            </div>
            <div class="blog-content">
              <div class="datebox">10-March-2024</div>
              <h3>
                What Insights Can Qualitative Research Offer Beyond the Numbers?
              </h3>
              <p>
                Qualitative research is a very powerful tool that provides a
                deeper understanding of complex behaviors. It helps to unlock
                valuable insights into the user...
              </p>
              <a
                class="butn butn__new hover-this"
                href="/blogs/what-insights-can-qualitative-research-offer-beyond-the-numbers"
                ><span>Read More</span></a
              >
            </div>
          </div>
          <div *ngIf="false" class="blog-item-col">
            <div class="blog-imgarea">
              <img src="/assets/images/blog-img2.jpg" />
            </div>
            <div class="blog-content">
              <div class="datebox">09-March-2024</div>
              <h3>
                Why Is Quantitative Research Essential For Making Data-Driven
                Decisions?
              </h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s.
              </p>
              <a class="butn butn__new hover-this" href="#"
                ><span>Read More</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="false" class="testi-section dg-pdg-both">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 wow fadeInUp">
        <div class="sec-title text-center">
          <span class="sub-title">OUR FEEDBACKS</span>
          <h2>What They’re Talking About Company</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-12 col-md-12 col-sm-12 wow fadeInUp"
        data-wow-delay="300ms"
        style="animation-delay: 300ms"
      >
        <div class="testislider owl-carousel owl-theme arrowbox outsidearrow">
          <div class="testi-item">
            <div class="testimonial-block_one-info">
              <div class="testimonial-block_one-author">
                <img alt="" src="/assets/images/author-1.jpg" />
              </div>
              <div class="testi-info">
                <div class="testimonial-block_one-rating">
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                </div>
                <h5>Darrell Steward</h5>
                <span class="testimonial-block_one-designation"
                  >Lorem ipsum</span
                >
              </div>
            </div>
            <div class="testimonial-block_one-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              imn industry Lorem Ipsum has been the industry's Lorem Ipsum is
              simplmi dummy text of the printing and typesetting industry
            </div>
          </div>
          <div class="testi-item">
            <div class="testimonial-block_one-info">
              <div class="testimonial-block_one-author">
                <img alt="" src="/assets/images/author-1.jpg" />
              </div>
              <div class="testi-info">
                <div class="testimonial-block_one-rating">
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                </div>
                <h5>Darrell Steward</h5>
                <span class="testimonial-block_one-designation"
                  >Lorem ipsum</span
                >
              </div>
            </div>
            <div class="testimonial-block_one-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              imn industry Lorem Ipsum has been the industry's Lorem Ipsum is
              simplmi dummy text of the printing and typesetting industry
            </div>
          </div>
          <div class="testi-item">
            <div class="testimonial-block_one-info">
              <div class="testimonial-block_one-author">
                <img alt="" src="/assets/images/author-1.jpg" />
              </div>
              <div class="testi-info">
                <div class="testimonial-block_one-rating">
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                </div>
                <h5>Darrell Steward</h5>
                <span class="testimonial-block_one-designation"
                  >Lorem ipsum</span
                >
              </div>
            </div>
            <div class="testimonial-block_one-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              imn industry Lorem Ipsum has been the industry's Lorem Ipsum is
              simplmi dummy text of the printing and typesetting industry
            </div>
          </div>
          <div class="testi-item">
            <div class="testimonial-block_one-info">
              <div class="testimonial-block_one-author">
                <img alt="" src="/assets/images/author-1.jpg" />
              </div>
              <div class="testi-info">
                <div class="testimonial-block_one-rating">
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                </div>
                <h5>Darrell Steward</h5>
                <span class="testimonial-block_one-designation"
                  >Lorem ipsum</span
                >
              </div>
            </div>
            <div class="testimonial-block_one-text">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              imn industry Lorem Ipsum has been the industry's Lorem Ipsum is
              simplmi dummy text of the printing and typesetting industry
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
