<header class="header" style="opacity: 1;
    transition: all 0.05s ease-in-out 0s;
    transform: scale(1);">
  <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">LINKEDIN</a></li>
      <li><a href="#">YOUTUBE</a></li>
    </ul>
  </aside>
  <!-- end left-side -->
  <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
  <!-- end scroll-down -->
  <div (click)="playOSSound()" class="sound" style="cursor: pointer">
    <span>Sound</span>
    <div class="equalizer" style="position: absolute;
    bottom: 10px;
    left: -17px;
    cursor: pointer;">
      <span></span> <span></span> <span></span> <span></span>
    </div>
  </div>
  <!-- end sound -->

  <div #swiper class="swiper-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide" data-tilt data-tilt-max="5" data-tilt-perspective="1500" data-tilt-speed="500">
        <div class="video-bg">
          <video autoplay loop muted playsinline>
            <source src="assets/videos/video0.mp4" type="video/mp4"/>
          </video>
          <div class="container">
            <div class="tagline"><span>01</span>
              <h6>Grab our digital Marketing Deals today</h6>
            </div>
            <!-- end tagline -->
            <h1>Market<br>
              <span>Planning</span></h1>
            <div class="slide-btn"><a href="#">
              <div class="lines"><span></span> <span></span></div>
              <!-- end lines -->
              <svg enable-background="new 0 0 104 104" version="1.1" viewBox="0 0 104 104"
                   x="0px"
                   xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
                <circle class="video-play-circle" cx="52" cy="52" fill="none" r="50"
                        stroke="#000" stroke-miterlimit="1" stroke-width="2"/>
              </svg>
              <b>READ MORE</b> </a></div>
          </div>
        </div>
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide" data-tilt data-tilt-max="5" data-tilt-perspective="1500" data-tilt-speed="500">
        <div class="video-bg">
          <video autoplay loop muted playsinline>
            <source src="assets/videos/video01.mp4" type="video/mp4">
          </video>
          <div class="container">
            <div class="tagline"><span>02</span>
              <h6>Analyzing Trends Shaping [Industry] Worldwide</h6>
            </div>
            <!-- end tagline -->
            <h1>Global<br>
              <span>Trends</span></h1>
            <div class="slide-btn"><a href="#">
              <div class="lines"><span></span> <span></span></div>
              <!-- end lines -->
              <svg enable-background="new 0 0 104 104" version="1.1" viewBox="0 0 104 104"
                   x="0px"
                   xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
                <circle class="video-play-circle" cx="52" cy="52" fill="none" r="50"
                        stroke="#000" stroke-miterlimit="1" stroke-width="2"/>
              </svg>
              <b>READ MORE</b> </a></div>
          </div>
        </div>
      </div>
      <!-- end swiper-slide -->
      <div class="swiper-slide" data-tilt data-tilt-max="5" data-tilt-perspective="1500" data-tilt-speed="500">
        <div class="video-bg">
          <video autoplay loop muted playsinline src="assets/videos/video02.mp4"></video>
          <div class="container">
            <div class="tagline"><span>03</span>
              <h6>Key Market Opportunities Revealed</h6>
            </div>
            <!-- end tagline -->
            <h1>Targeting<br>
              <span>Growth</span></h1>
            <div class="slide-btn"><a href="#">
              <div class="lines"><span></span> <span></span></div>
              <!-- end lines -->
              <svg enable-background="new 0 0 104 104" version="1.1" viewBox="0 0 104 104"
                   x="0px"
                   xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
                <circle class="video-play-circle" cx="52" cy="52" fill="none" r="50"
                        stroke="#000" stroke-miterlimit="1" stroke-width="2"/>
              </svg>
              <b>READ MORE</b> </a></div>
          </div>
        </div>
      </div>
      <!-- end swiper-slide -->
    </div>
    <!-- end swiper-wrapper -->
    <div class="swiper-pagination"></div>
    <div class="swiper-fraction"></div>
  </div>
  <!-- end swiper-slider -->

</header>
<!-- end header -->

<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s;">
        <h6>ABOUT PRIZM DATA</h6>
        <h2 data-text="Digital">Prizm Data & Consulting</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-lg-5 wow fadeIn">
        <h4>A fast-growing company in Market Research Industry</h4>
      </div>
      <!-- end col-5 -->
      <div class="col-lg-7 wow zoomIn" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s;">
        <p><strong>PROLOG INSIGHTS ZILLION MARKET PRIVATE LIMITED</strong> is a fast-growing company in the Market
          Research industry providing innovative online solutions to global clients with strong skills and technology.
        </p>
        <p>A fast-growing company in the <strong>Market Research</strong> industry providing innovative online solutions
          to global clients with strong skills and technology</p>
        <div class="custom-link wow pulse" data-wow-delay="1s" data-wow-duration="2s" data-wow-iteration="infinite"><a
          href="/about-us">
          <div class="lines"><span></span> <span></span></div>
          <!-- end lines -->
          <b>READ MORE</b></a></div>
      </div>
    </div>
  </div>
</section>
<!-- end intro -->

<section class="services-content-block">
  <div class="video-bg">
    <video autoplay loop muted playsinline src="assets/videos/video.mp4"></video>
  </div>
  <!-- end video-bg -->
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
        <h6>FASTEST-GROWING RESEARCH AND ANALYTICS</h6>
        <h2>Services We Provide </h2>
      </div>
      <!-- end col-12 -->
      <div class="col-md-4 wow rollIn" data-wow-delay="0s">
        <div class="content-box">
          <div class="left"><small>01</small><span></span></div>
          <!-- end left -->
          <div class="right">
            <h4>Syndicated Studies</h4>
            <p>We offer a wide range of Syndicated offerings. Off the shelf subscription. Customisable to your
              requirements.</p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 wow flipInX" data-wow-delay="1s">
        <div class="content-box">
          <div class="left"><small>02</small><span></span></div>
          <!-- end left -->
          <div class="right">
            <h4>Intelligent Automation</h4>
            <p>A dedicated panel of respondents spread across demographics that provide quick feedback using the mobile
              app.</p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 wow bounceInRight" data-wow-delay="1s">
        <div class="content-box">
          <div class="left"><small>03</small><span></span></div>
          <!-- end left -->
          <div class="right">
            <h4>Access Panel</h4>
            <p>A large database of online respondents spread across demographics that provide quick feedback via mail,
              SMS or calls.</p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 wow bounceInLeft" data-wow-delay="1s">
        <div class="content-box">
          <div class="left"><small>03</small><span></span></div>
          <!-- end left -->
          <div class="right">
            <h4>Digital Qual</h4>
            <p>We provide access to Online Focus Groups and one-on-one in-depth Interviews for quick, low cost
              research.</p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 wow flipInX" data-wow-delay="1s">
        <div class="content-box">
          <div class="left"><small>05</small><span></span></div>
          <!-- end left -->
          <div class="right">
            <h4>Virtual World</h4>
            <p>We assist you to conduct product tests, concept and design checks using Virtual technology.</p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-md-4 wow bounceInRight" data-wow-delay="1s">
        <div class="content-box">
          <div class="left"><small>06</small><span></span></div>
          <!-- end left -->
          <div class="right">
            <h4>Market Planning</h4>
            <p>We can help you identify your business potential at a district, urban and rural level.</p>
          </div>
        </div>
      </div>
      <!-- end col-4 -->
    </div>
  </div>
</section>
<!-- end services-content-block -->

<!-- Why Us Section -->
<section class="why-us">
  <div class="video-bg">
    <video autoplay loop muted playsinline src="assets/videos/why-choose-v.mp4"></video>
  </div>
  <div class="container">
    <div class="col-12 wow fadeIn">
      <h6>EASY WAY BUILD SUCCESS YOUR BUSINESS PLAN</h6>
      <h2>Why Choose Us?</h2>
    </div>
    <!-- end col-12 -->
    <div class="row">
      <div class="col-sm-6 col-lg-4 wow rollIn" data-wow-delay="1s">
        <div class="box">
          <span>01</span>
          <h4><a href="/services/quantitative-research">Quantitative
            Research</a></h4>
          <p> We use numbers and data to study and analyze trends, patterns, and relationships in a systematic way.</p>
          <img alt="" src="assets/images/image-one.jpg">
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-6 col-lg-4 wow flipInX" data-wow-delay="1s">
        <div class="box">
          <span>02</span>
          <h4><a href="/services/qualitative-research">Qualitative Research</a>
          </h4>
          <p>Explores people's thoughts, feelings, and behaviors through in-depth interviews, observations, and
            open-ended questions.</p>
          <img alt="" src="assets/images/image-two.jpg">
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-6 col-lg-4 wow bounceInRight" data-wow-delay="1s">
        <div class="box">
          <span>03</span>
          <h4><a href="/services/b2b-research">B2B Research</a></h4>
          <p>Focuses on understanding the needs, preferences, and behavior of businesses when making purchasing
            decisions.</p>
          <img alt="" src="assets/images/image-three.jpg">
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-6 col-lg-4 bounceInLeft" data-wow-delay="1s">
        <div class="box">
          <span>04</span>
          <h4><a href="/services/india-data-facts">India Data Facts</a></h4>
          <p> Offers essential and up-to-date information and statistics on demographics, economy, and culture, helping
            businesses make informed decisions in the Indian market.</p>
          <img alt="" src="assets/images/image-four.jpg">
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-6 col-lg-4 wow flipInX" data-wow-delay="1s">
        <div class="box">
          <span>05</span>
          <h4><a href="/services/industries">Industries</a></h4>
          <p>Provides assistance in insights and analysis on various economic sectors, helping businesses understand
            market trends and make informed decisions.</p>
          <img alt="" src="assets/images/image-five.jpg">
        </div>
      </div>
      <!-- end col-4 -->
      <div class="col-sm-6 col-lg-4 wow bounceInRight" data-wow-delay="1s">
        <div class="box">
          <span>06</span>
          <h4><a href="/services/solutions">Solutions</a></h4>
          <p>We offer practical answers and strategies to address business challenges, providing tailored solutions
            based on comprehensive market analysis.</p>
          <img alt="" src="assets/images/image-six.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Why Us Section -->

<section class="works">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
        <h6>ANALYZE, VISUALIZE, AND SHARE</h6>
        <h2 data-text="Works">Reporting & <br>Analytics</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-12">
        <div class="project-box wow bounceInLeft" data-bg="#faf8ed" data-wow-delay="1s">
          <figure><a data-fancybox href="assets/videos/feature-video.mp4">
            <video autoplay loop muted playsinline src="assets/videos/feature-video.mp4"></video>
          </a></figure>
          <div class="content-box">
            <div class="inner"><small>SIMPLE-TO-USE ANALYTICS TOOL</small>
              <h3><span>Analyze</span>Tool</h3>
            </div>
          </div>
        </div>
        <!-- end project-box -->
        <div class="project-box wow flipInX" data-bg="#ece6f4" data-wow-delay="1s">
          <figure><a data-fancybox href="assets/videos/feature-video-1.mp4">
            <video autoplay loop muted playsinline src="assets/videos/feature-video-1.mp4"></video>
          </a></figure>
          <div class="content-box">
            <div class="inner"><small>ILLUSTRATE YOUR INSIGHTS WITH COMPELLING DATA VISUALIZATIONS</small>
              <h3><span>Data</span>Visualize</h3>
            </div>
          </div>
        </div>
        <!-- end project-box -->
        <div class="project-box wow bounceInRight" data-bg="#ebf8f3" data-wow-delay="1s">
          <figure><a data-fancybox href="assets/videos/feature-video-2.mp4">
            <video autoplay loop muted playsinline src="assets/videos/feature-video-2.mp4"></video>
          </a></figure>
          <div class="content-box">
            <div class="inner"><small>SHARE YOUR INSIGHTS WITH AUDIENCES OF YOUR CHOOSING</small>
              <h3><span>Share</span>Insights</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
    <div class="custom-link wow pulse" data-wow-delay="1s" data-wow-duration="2s" data-wow-iteration="infinite"><a
      href="/about-us">
      <div class="lines"><span></span> <span></span></div>
      <b>READ MORE</b></a>
    </div>
  </div>
</section>
<!-- end works -->

<section class="work-with-us">
  <div class="video-bg">
    <video autoplay loop muted playsinline src="assets/videos/call-to-video.mp4"></video>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-12 wow swing">
        <h6>START WORKING WITH US</h6>
        <h2 data-text="Hire us">Prizm Data in Market industry</h2>
        <h4>Do you have a project opportunity, or are you just a looking to get creative solutions?</h4>
      </div>
      <!-- end col-12 -->
      <div class="col-md-5 col-12 hello wow shake">
        <form class="row inner" id="contact" method="post" name="contact" novalidate="novalidate">
          <div class="form-group col-sm-6 col-12">
            <label><span>Name</span></label>
            <input id="name" name="name" required="" type="text">
          </div>
          <div class="form-group col-sm-6 col-12">
            <label><span>Mobile No.</span></label>
            <input id="phone" name="phone" required="" type="text">
          </div>
          <div class="form-group col-sm-12 col-12">
            <label><span>Email</span></label>
            <input id="email" name="email" required="" type="text">
          </div>
          <div class="form-group col-12">
            <label><span>Message</span></label>
            <textarea id="message" name="message" required=""></textarea>
          </div>
          <div class="form-group col-12">
            <button id="submit" name="submit" type="submit">SUBMIT</button>
          </div>
          <!-- end form-group -->
        </form>
      </div>
    </div>
  </div>
</section>
<!-- end work-with-us -->

<section class="clients">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8 wow fadeIn" data-wow-delay="1s">
        <h6>START WORKING WITH US</h6>
        <h2>Our Clients</h2>
        <h4>Do you have a project opportunity, or are you just a looking to get creative solutions?</h4>
        <div class="custom-link wow pulse" data-wow-delay="1s" data-wow-duration="2s" data-wow-iteration="infinite"><a
          href="#">
          <div class="lines"><span></span> <span></span></div>
          <!-- end lines -->
          <b>BE OUR CLIENT</b></a></div>
      </div>
      <!-- end col-5 -->
      <!-- <div class="col-lg-7 wow pulse" data-wow-delay="1s" data-wow-iteration="infinite" data-wow-duration="2s">
        <ul>
          <li><img src="assets/images/logo01.png" alt="Image"><small>BULOVA</small></li>
          <li><img src="assets/images/logo02.png" alt="Image"><small>CASIO</small></li>
          <li><img src="assets/images/logo03.svg" alt="Image"><small>CITIZEN</small></li>
          <li><img src="assets/images/logo04.png" alt="Image"><small>GIORGIO ARMANI</small></li>
          <li><img src="assets/images/logo05.png" alt="Image"><small>MICHAEL KORS</small></li>
          <li><img src="assets/images/logo06.png" alt="Image"><small>ACCURIST</small></li>
          <li><img src="assets/images/logo07.png" alt="Image"><small>ARMANI EXCHANGE</small></li>
          <li><img src="assets/images/logo03.svg" alt="Image"><small>CITIZEN</small></li>
        </ul>
      </div> -->
      <!-- end col-7 -->
    </div>
  </div>
</section>
<!-- end clients -->

<section class="blog-sec">
  <div class="container">
    <div class="col-12 wow fadeIn">
      <h6>FASTEST-GROWING Research AND Analytics</h6>
      <h2>Our Latest Insights</h2>
    </div>
    <!-- end col-12 -->
    <ng-container *ngIf="blogs$ | async as blogsData">
      <div class="row retro-layout">
        <div *ngFor="let blog of blogsData" class="col-md-4 wow bounceInLeft">
          <a [href]="'/blogs/' + blog.slug" [style.background-image]="'url(' + blog.imageUrl + ')'"
             class="hentry img-1 gradient">
            <div class="text">
              <h2>{{ blog.title }}</h2>
              <span>{{ blog.date }}</span>
            </div>
          </a>
        </div>
        <!-- end col-4 -->
      </div>
    </ng-container>
  </div>
</section>

<!-- end blogs -->

<section class="testimonial-sec wow swing">
  <div class="video-bg">
    <video autoplay loop muted playsinline src="assets/videos/testimonial-bg.mp4"></video>
  </div>
  <div class="container">
    <div class="col-12 wow fadeIn">
      <h2>Client Testimonials </h2>
    </div>
    <div class="testimonial mySwiper">
      <div class="testi-content swiper-wrapper">
        <!-- Check if reviews array exists and is not empty -->
        <ng-container *ngIf="reviews && reviews.length > 0; else noReviews">
          <div *ngFor="let review of reviews" class="slide swiper-slide">
            <p>{{ review.content }}</p>
            <img src="assets/images/left-quote.png"/>
            <div class="details">
              <span class="name">{{ review.name }}</span>
            </div>
          </div>
        </ng-container>
        <!-- Render "No Reviews Yet" if reviews array is empty -->
        <ng-template #noReviews>
          <div class="slide swiper-slide">
            <h3>No Reviews Yet</h3>
          </div>
        </ng-template>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
