@media (max-width: 480px) {
  .mob-inject {
    height: auto !important;
  }

  .desktop-only {
    display: none;
  }

  .wrap-flex {
    flex-wrap: wrap;
  }
}

.banner-btn:hover {
  background: none !important;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.counter-block {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.counter-block[data-delay] {
  animation-delay: attr(data-delay ms);
}
